<h1>Dobrodošli na sajt Fruit Market!</h1>
<div class="mainImage" style="background-image: url('assets/images/fruitmarket.jpg')">

</div>
<div class="container">
    <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>Proizvodi</h2>
          </mat-card-title>
          <mat-card-subtitle>
            Pogledajte kategorije i proizvode.
        </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-flat-button color="accent">
            <a routerLink="proizvodi">Proizvodi</a>
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>O nama</h2>
          </mat-card-title>
          <mat-card-subtitle>
            Informacije o prodavnici i autoru sajta.
        </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-flat-button color="accent">
            <a routerLink="onama">O nama</a>
          </button>
        </mat-card-actions>
      </mat-card>
      
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>Dokumentacija</h2>
          </mat-card-title>
          <mat-card-subtitle>
            GitHub stranica sajta.
        </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-flat-button color="accent">
            <a href="https://github.com/DimitrijeBorcanin/angular-ict" target="_blank">Dokumentacija</a>
          </button>
        </mat-card-actions>
      </mat-card>
</div>